<div class="list-group list-group-horizontal">
  <%= render @tags %>
</div>

<%= form_tag search_products_path, remote: true do %>
    <%= text_field_tag :lat, "", class: 'form-control', placeholder: 'lat' %>
    <%= text_field_tag :lon, "", class: 'form-control', placeholder: 'lon' %>
    <%= submit_tag 'Filter', name: nil, class: 'btn btn-default' %>
<% end %>


<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Lat</th>
      <th>Lon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="table-element">
    <%= render @products %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
